<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @song.name %>
</p>

  <p><strong>Audio:</strong>
  <%= audio_tag @song.song_audio.url, autoplay: false, controls: true %>
  </p>

  <p><strong>Image:</strong></p>
  <%= image_tag @song.song_image.url %></p>

  <strong>Song appears in these playlists:</strong><br>
  <% @song.playlists.each do |playlist| %>
    <%= playlist.name %><br>
  <% end %>


<%= form_for [@song, @song.comments.new] do |f| %>
  <%= render partial: 'comments/form', locals: { f: f } %>
  <%= f.submit 'Add Comment!' %>
  <% end %>

<% @song.comments.each do |comment| %>
  <%= comment.comment %>
  <br>
  <p>Posted by: <%= comment.user.try :name %></p>
  <hr>
  <% end %>


<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>
