<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @song.name %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @song.image_url %>
</p>

  <strong>Song appears in these playlists:</strong><br>
  <% @song.playlists.each do |playlist| %>
    <%= playlist.name %><br>
  <% end %>
</p>

<p>
  <strong>User:</strong>
  <%= @song.user_id %>
</p>

<%= form_for [@song, @song.comments.new] do |f| %>
  <%= render partial: 'comments/form', locals: { f: f } %>
  <%= f.submit 'Add Comment!' %>
  <% end %>

<% @song.comments.each do |comment| %>
  <%= comment.comment %>
  <br>
  <p>Posted by: <%= comment.user.try :name %></p>
  <hr>
  <% end %>


<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>
